<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale = 1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="aYa Agency - One Page Creative Design Template">
    <meta name="keywords" content="aya agency, web design, creative design, html5, responsive">
    <meta name="author" content="Tsocho Tsochev, Iliyan Konakchiev | UnomiaThemes">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <!-- -Page Title- -->
    <title>Baladiati - Baladia En ligne</title>
    <!-- ====== -Google Fonts- ====== -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
    <!-- ====== -End Google Fonts- ====== -->
    <!-- ====== -CSS- ====== -->
    <!-- -Normalize css- -->
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <!-- -Animate css- -->
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <!-- -Font Awesome- -->
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <!-- -Ionicons- -->
    <link rel="stylesheet" type="text/css" href="css/ionicons.min.css">
    <!-- -Bootstrap v3.3.1- -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- Slick -->
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- -Custom style CSS- -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- -Custom responsive style CSS- -->
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
    <!-- ====== -End CSS- ====== -->
    <!-- -Favicon- -->
    <link rel="shortcut icon" href="img/favicon.png">

</head>
<body>
<div class="loading">
    <div class="animation">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!-- HEADER BEGIN -->
<header class="header">
    <div class="container">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="logo">
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
            <nav class="menu">
                <ul>
                    <li><a href="index.html" data-scroll>Acceuil</a></li>
                    <li><a href="#about" data-scroll>A Propos</a></li>
                    <li><a href="#services" data-scroll>Services</a></li>
                    <li><a href="#adventages" data-scroll>Avantages</a></li>
                    <li><a href="#team" data-scroll>Notre Equipe</a></li>
                    <li><a href="#testimonials" data-scroll>Actualité</a></li>
                    <li><a href="#contact" data-scroll>Nous Contacter</a></li>
                </ul>
            </nav>
            <nav class="mobilenav">
                <ul>
                    <li class="close-menu"><a href="index.html" data-scroll>Acceuil</a></li>
                    <li class="close-menu"><a href="#about" data-scroll>A Propos</a></li>
                    <li class="close-menu"><a href="#services" data-scroll>Services</a></li>
                    <li class="close-menu"><a href="#adventages" data-scroll>Avantages</a></li>
                    <li class="close-menu"><a href="#team" data-scroll>Notre Equipe</a></li>
                    <li class="close-menu"><a href="#testimonials" data-scroll>Actualité</a></li>
                    <li class="close-menu"><a href="#contact" data-scroll>Nous Contacter</a></li>
                </ul>
            </nav>
            <a href="javascript:void(0)" class="icon">
                <div class="hamburger">
                    <div class="menui top-menu"></div>
                    <div class="menui mid-menu"></div>
                    <div class="menui bottom-menu"></div>
                </div>
            </a>
        </div>
    </div>
</header>

<section>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12  bckg">

        <div class="contact-content">
            <h1 style="margin-bottom: 5%">Acte de Naissance</h1>
            <h2>Entrer votre CIN</h2>
            <form class="contact-class" method="post" action="">
                <div class="input-fields">
                    <label for="name">CIN *</label>
                    <input class="normal-input" type="number" id="cin" name="cin" required minlength="8" maxlength="8">
                </div>
                <input class="submit-button" style="font-size: large" type="submit" value="Valider" name="submit">
            </form>
        </div>

    </div>
    <div id="imp" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 remove-padding contact-bck"
         style="padding-left: 5%;padding-top: 5%">
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <tbody>
            <tr>
                <td class="mdl-data-table__cell--non-numeric"><strong>Nom et Prenom</strong></td>
                <td>Ben Foulen</td>
                <td>Foulen</td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric"><strong>Date Naissance</strong></td>
                <td>01/ 08 / 1995</td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric"><strong>Lien Naissance</strong></td>
                <td>Sidi Bouzid</td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric"><strong>Nom Pere</strong></td>
                <td>Foulen Ben Foulen</td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric"><strong>Nom Mere</strong></td>
                <td>Falten ben Falten</td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric"><strong>Date Declaration</strong></td>
                <td>01/ 08 / 1995</td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric"><strong>Nom de la persone <br> qui a fait la
                        declaration</strong></td>
                <td>Foulen ben Falten</td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric"><strong>Nom Officier <br>De L'état Civil</strong></td>
                <td>Foulen ben Falten</td>
            </tr>
            </tbody>
        </table>

    </div>
    <a class="btn btn-custom-services" onclick="PrintElem()" style="margin-top: 10%">Imprission<i
                class="fa fa-chevron-right"></i></a>
    <script>

        function PrintElem() {
            var mywindow = window.open('', 'PRINT', 'height=400,width=600');

            mywindow.document.write('<html><head><title>' + "Acte de naissance" + '</title>');
            mywindow.document.write('</head><body >');
            mywindow.document.write('<h1 class="center" style="margin-top: 10%; margin-left: 30%;">' + "Acte de naissance" + '</h1>');
            mywindow.document.write('<div class="center" style="margin-top: 15%; margin-left: 25%;">' + document.getElementById('imp').innerHTML + '</div>');
            mywindow.document.write('</body></html>');

            mywindow.document.close(); // necessary for IE >= 10
            mywindow.focus(); // necessary for IE >= 10*/

            mywindow.print();
            mywindow.close();

            return true;
        }
    </script>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="footer-column-one">
                    <p>Lorem Ipsum.</p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="footer-column-two">
                    <h4>Menu Rapide</h4>
                    <ul>
                        <li><a href="#">Acceuil</a></li>
                        <li><a href="#">A Propos</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Notre Equipe</a></li>
                        <li><a href="#">Actualité</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="footer-column-three">
                    <h4>Nous Contacter</h4>
                    <ul>
                        <li><i class="fa fa-phone"></i><a href="tel:00000"> (216) 12 345 678</a></li>
                        <li><i class="fa fa-envelope"></i><a href="#">baladiaticontact@gmail.com</a></li>
                        <li><i class="fa fa-map-marker"></i><a href="#">Sidi Bouzid , Tunisie</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="scrollToTop" style="display: inline;"><i class="ion-ios-arrow-up"></i></a>
</footer>
<div class="bottom-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <p>Nom Equipe &copy; 2017 Tous les droits réservés</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            </div>
        </div>
    </div>
</div>
<!-- ==== JAVASCRIPT FILES ==== -->
<!-- Jquery -->
<script src="js/jquery-2.2.4.min.js"></script>
<!-- Owl Carousel -->
<script src="js/owlcarousel/owl.carousel.min.js"></script>
<!-- Slick Slider -->
<script src="js/slick.min.js"></script>
<!-- YouTube Video -->
<script src="js/jquery.youtubebackground.js"></script>
<!-- Smooth scroll -->
<script src="js/smooth-scroll.js"></script>
<!-- Parallax -->
<script src="js/parallax.min.js"></script>
<!-- Maginific Popup Modal -->
<script src="js/jquery.magnific-popup.min.js"></script>
<!-- jQuery Filterizr -->
<script src="js/jquery.filterizr.js"></script>
<!-- Custom -->
<script src="js/custom.js"></script>
<!-- ==== END JAVASCRIPT FILES ==== -->
</body>

</html>