<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale = 1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="aYa Agency - One Page Creative Design Template">
    <meta name="keywords" content="aya agency, web design, creative design, html5, responsive">
    <meta name="author" content="Tsocho Tsochev, Iliyan Konakchiev | UnomiaThemes">
    <!-- -Page Title- -->
    <title>Baladiati - Baladia En ligne</title>
    <!-- ====== -Google Fonts- ====== -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
    <!-- ====== -End Google Fonts- ====== -->
    <!-- ====== -CSS- ====== -->
    <!-- -Normalize css- -->
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <!-- -Animate css- -->
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <!-- -Font Awesome- -->
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <!-- -Ionicons- -->
    <link rel="stylesheet" type="text/css" href="css/ionicons.min.css">
    <!-- -Bootstrap v3.3.1- -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- Slick -->
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- -Custom style CSS- -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- -Custom responsive style CSS- -->
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
    <!-- ====== -End CSS- ====== -->
    <!-- -Favicon- -->
    <link rel="shortcut icon" href="img/favicon.png">

</head>
<body>
<div class="loading">
    <div class="animation">
        <img src="img/logo.png" alt="Baladiati">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!-- HEADER BEGIN -->
<header class="header">
    <div class="container">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="logo">
                <img src="img/logo.png" alt="Baladiati">
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
            <nav class="menu">
                <ul>
                    <li><a href="index.html" data-scroll>Acceuil</a></li>
                    <li><a href="#about" data-scroll>A Propos</a></li>
                    <li><a href="#services" data-scroll>Services</a></li>
                    <li><a href="#adventages" data-scroll>Avantages</a></li>
                    <li><a href="#team" data-scroll>Notre Equipe</a></li>
                    <li><a href="#testimonials" data-scroll>Actualité</a></li>
                    <li><a href="#contact" data-scroll>Nous Contacter</a></li>
                </ul>
            </nav>
            <nav class="mobilenav">
                <ul>
                    <li class="close-menu"><a href="index.html" data-scroll>Acceuil</a></li>
                    <li class="close-menu"><a href="#about" data-scroll>A Propos</a></li>
                    <li class="close-menu"><a href="#services" data-scroll>Services</a></li>
                    <li class="close-menu"><a href="#adventages" data-scroll>Avantages</a></li>
                    <li class="close-menu"><a href="#team" data-scroll>Notre Equipe</a></li>
                    <li class="close-menu"><a href="#testimonials" data-scroll>Actualité</a></li>
                    <li class="close-menu"><a href="#contact" data-scroll>Nous Contacter</a></li>
                </ul>
            </nav>
            <a href="javascript:void(0)" class="icon">
                <div class="hamburger">
                    <div class="menui top-menu"></div>
                    <div class="menui mid-menu"></div>
                    <div class="menui bottom-menu"></div>
                </div>
            </a>
        </div>
    </div>
</header>
<!-- Single Image Parallax -->
<section class="the-video-section">
    <div class="video2">
        <div class="overlay"></div>
        <div class="wrap">
            <div class="container">
                <h1 class="title animated slideInUp">Baladiati</h1>
                <a href="#services" class="btn btn-custom-services" data-scroll>Nos Services<i
                            class="fa fa-chevron-right"></i></a>
            </div>
        </div>
        <div class="scroll-button">
            <a data-scroll href="#about"><span></span></a>
        </div>
    </div>
</section>
<!-- End Owl Slider -->
<div class="clearfix"></div>
<!-- ABOUT SECTION -->
<section id="about">
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 remove-padding">
        <div class="social-overlay">
            <ul>
                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
        <div class="parallax-window" data-parallax="scroll" data-image-src="img/about-us.jpg"></div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 remove-padding bck">
        <div class="about-content">
            <h2 class="section-title">A Propos</h2>
            <h1>Bienvenue a Baladiati</h1>
            <p>Lorem ipsum</p>
            <a class="btn btn-custom-services">Vous pouvez nous contacter pour d'autres informations<i
                        class="fa fa-chevron-right"></i></a>
        </div>
    </div>
</section>
<!-- VIDEO SECTION -->
<section>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 remove-padding bckg">
        <div class="about-content video-section">
            <h2 class="section-title">Notre Story</h2>
            <h1>Regarder maintenant</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. .
            </p>
            <a href="https://www.youtube.com/watch?v=7e90gBu4pas" class="btn btn-custom-services video-play">Play <i
                        class="fa fa-chevron-right"></i></a>
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 remove-padding">
        <div class="video-area">
            <div class="video-controls">
                <a href="https://www.youtube.com/watch?v=7e90gBu4pas" class="video-play mfp-iframe">
                    <i class="fa fa-youtube-play"></i>
                </a>
                <h2>Regarder Notre Story</h2>
            </div>
        </div>
    </div>
</section>
<!-- SERVICES SECTION -->
<section id="services">
    <div class="container">
        <div class="row aligner">
            <h2 class="normal-section-title">
                Nos Services
            </h2>
            <h4 class="normal-section-subtitle">Notres Liste De Services</h4>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="service-box">
                    <div class="skew-box">
                        <i class="ion-ios-monitor-outline"></i>
                    </div>
                    <h4>Élections Municipales</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="service-box">
                    <div class="skew-box">
                        <i class="ion-ios-cart-outline"></i>
                    </div>
                    <h4>Acte de Naissance</h4>
                    <p>Extraire une acte de naissance.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="service-box">
                    <div class="skew-box">
                        <i class="ion-iphone"></i>
                    </div>
                    <h4>Acte de Mort</h4>
                    <p>Extraire une acte de mort.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ADVENTAGES SECTION -->
<section id="adventages">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 remove-padding bckgr">
        <div class="adventages-content">
            <h2 class="section-title">Nos Avantages</h2>
            <h1>Pouquoi Nous?</h1>
            <div class="reason-box">
                <div class="number-box">
                    <span>1</span>
                </div>
                <h4>100% Lorem upsum</h4>
                <p>lorem upsum<br/> lorem upsum.</p>
            </div>
            <div class="reason-box">
                <div class="number-box">
                    <span>2</span>
                </div>
                <h4>Skills in many spheres</h4>
                <p>Lorem upsum<br/> lorem upsum.</p>
            </div>
            <div class="reason-box">
                <div class="number-box">
                    <span>3</span>
                </div>
                <h4>Team approach</h4>
                <p>Lorem Ipsum is simply dummy text of the printing<br/> and typesetting industry.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 remove-padding">
        <div class="parallax-adventages" data-parallax="scroll" data-image-src="img/adventure2.jpg"></div>
    </div>
</section>
<!-- OUR TEAM SECTION -->
<section class="track" id="team">
    <div class="container">
        <div class="row aligner">
            <h2 class="normal-section-title">
                Notre Equipe
            </h2>
            <h4 class="normal-section-subtitle">Rencontrer les gens derrière la magie</h4>
            <div class="center">
                <div class="team-member">
                    <div class="the-team-member-photo">
                        <img src="img/team/member-one.png" alt="Team Member Photo 01">
                    </div>
                    <h4>Rehab</h4>
                    <p>Développeur</p>
                </div>
                <div class="team-member">
                    <div class="the-team-member-photo">
                        <img src="img/team/member-two.png" alt="Team Member Photo 01">
                    </div>
                    <h4>Hassen</h4>
                    <p>Graphic Designer</p>
                </div>
                <div class="team-member">
                    <div class="the-team-member-photo">
                        <img src="img/team/member-three.png" alt="Team Member Photo 01">
                    </div>
                    <h4>Montassar</h4>
                    <p>Code Wizard</p>
                </div>
                <div class="team-member">
                    <div class="the-team-member-photo">
                        <img src="img/team/member-four.png" alt="Team Member Photo 01">
                    </div>
                    <h4>Nsitou</h4>
                    <p>Hmmm...Actress?</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- TESTIMONIALS -->
<section id="testimonials">
    <div class="parallax-testimonial" data-parallax="scroll" data-image-src="img/comments04.png">
        <div class="container">
            <div class="row aligner">
                <h2 class="normal-section-title">
                    actualité
                </h2>
                <h4 class="normal-section-subtitle">Dernières actualité National</h4>
                <div class="testimonials">
                    <div class="the-testimonial">
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <p class="text-from-client">"la mort de Beji"</p>
                        <div class="client-info">
                            <img src="img/team/avatar01.jpg" alt="Photo">
                            <h4>Chourouk
                                <small>Abbas Abbas</small>
                            </h4>
                        </div>
                    </div>
                    <div class="the-testimonial">
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <p class="text-from-client">"Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. text of the printing and typesetting. Lorem Ipsum is simply dummy text of the
                            printing"</p>
                        <div class="client-info">
                            <img src="img/team/avatar01.jpg" alt="Photo">
                            <h4>Eric Donovan
                                <small>CEO of Microsoft</small>
                            </h4>
                        </div>
                    </div>
                    <div class="the-testimonial">
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <p class="text-from-client">"Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. text of the printing and typesetting. Lorem Ipsum is simply dummy text of the
                            printing"</p>
                        <div class="client-info">
                            <img src="img/team/avatar01.jpg" alt="Photo">
                            <h4>John Doe
                                <small>CEO of Apple</small>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contacts -->
<section id="contact">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 remove-padding contact-bck">
        <div class="contact-content">
            <h2 class="section-title">Nous Contacter</h2>
            <h1>Fill the fields</h1>
            <form class="contact-class" method="post" action="http://aya.unomiathemes.com/contact.php">
                <div class="input-fields">
                    <label for="name">Votre Nom*</label>
                    <input class="normal-input" type="text" id="name" name="name" required>
                </div>
                <div class="input-fields">
                    <label for="number">Votre Telephone*</label>
                    <input id="number" class="normal-input" type="tel" name="number">
                </div>
                <div class="input-fields">
                    <label for="email">Votre E-mail</label>
                    <input id="email" class="normal-input" type="email" name="email">
                </div>
                <input class="submit-button" type="submit" value="Envoyer" name="submit">
            </form>
        </div>
    </div>
</section>
<!-- FOOTER -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="footer-column-one">
                    <img src="img/logo.png" alt="Baladiati">
                    <p>Lorem Ipsum .</p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="footer-column-two">
                    <h4>Menu Rapide</h4>
                    <ul>
                        <li><a href="#">Acceuil</a></li>
                        <li><a href="#">A Propos</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Notre Equipe</a></li>
                        <li><a href="#">Actualité</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="footer-column-three">
                    <h4>Nous Contacter</h4>
                    <ul>
                        <li><i class="fa fa-phone"></i><a href="tel:00000"> (216) 12 345 678</a></li>
                        <li><i class="fa fa-envelope"></i><a href="#">baladiaticontact@gmail.com</a></li>
                        <li><i class="fa fa-map-marker"></i><a href="#">Sidi Bouzid , Tunisie</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="scrollToTop" style="display: inline;"><i class="ion-ios-arrow-up"></i></a>
</footer>
<div class="bottom-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <p>Nom Equipe &copy; 2017 Tous les droits réservés</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            </div>
        </div>
    </div>
</div>
<!-- ==== JAVASCRIPT FILES ==== -->
<!-- Jquery -->
<script src="js/jquery-2.2.4.min.js"></script>
<!-- Owl Carousel -->
<script src="js/owlcarousel/owl.carousel.min.js"></script>
<!-- Slick Slider -->
<script src="js/slick.min.js"></script>
<!-- YouTube Video -->
<script src="js/jquery.youtubebackground.js"></script>
<!-- Smooth scroll -->
<script src="js/smooth-scroll.js"></script>
<!-- Parallax -->
<script src="js/parallax.min.js"></script>
<!-- Maginific Popup Modal -->
<script src="js/jquery.magnific-popup.min.js"></script>
<!-- jQuery Filterizr -->
<script src="js/jquery.filterizr.js"></script>
<!-- Custom -->
<script src="js/custom.js"></script>
<!-- ==== END JAVASCRIPT FILES ==== -->
</body>

</html>