<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale = 1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="aYa Agency - One Page Creative Design Template">
    <meta name="keywords" content="aya agency, web design, creative design, html5, responsive">
    <meta name="author" content="Tsocho Tsochev, Iliyan Konakchiev | UnomiaThemes">
    <!-- -Page Title- -->
    <title>Baladiati - Baladia En ligne</title>
    <!-- ====== -Google Fonts- ====== -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
    <!-- ====== -End Google Fonts- ====== -->
    <!-- ====== -CSS- ====== -->
    <!-- -Normalize css- -->
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <!-- -Animate css- -->
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <!-- -Font Awesome- -->
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <!-- -Ionicons- -->
    <link rel="stylesheet" type="text/css" href="css/ionicons.min.css">
    <!-- -Bootstrap v3.3.1- -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- Slick -->
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- -Custom style CSS- -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- -Custom responsive style CSS- -->
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
    <!-- ====== -End CSS- ====== -->
    <!-- -Favicon- -->
    <link rel="shortcut icon" href="img/favicon.png">

</head>
<body>
<div class="center">
    <div class="team-member">
        <div class="the-team-member-photo">
            <img src="img/team/member-one.png" alt="Team Member Photo 01">
        </div>
        <h4>Foulen ben Foulen</h4>
        <p>Directeur Generale</p>
    </div>
    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vehicula maximus ex at vestibulum.
            Vestibulum imperdiet euismod tincidunt. Quisque non risus quis diam laoreet mollis. Nulla laoreet enim
            purus, in ultrices arcu aliquet eget. Cras nec dui sed justo convallis semper. Maecenas a nibh nibh. Nunc
            varius, nisl a bibendum venenatis, sapien tellus posuere libero, vel sollicitudin neque orci a dui. Morbi
            tellus diam, tempus sed metus vitae, porta malesuada lacus. Pellentesque semper congue volutpat. Donec nec
            dui eu risus posuere venenatis ac vel libero.

            Mauris fermentum congue turpis et porttitor. Cras tristique consectetur congue. Phasellus porttitor dui vel
            lorem luctus, vel tincidunt augue accumsan. Nam posuere vitae tellus eu tempus. Class aptent taciti sociosqu
            ad litora torquent per conubia nostra, per inceptos himenaeos. Nam pulvinar laoreet nisi eget varius.
            Curabitur convallis ornare nulla ac rhoncus.

            Curabitur molestie hendrerit aliquam. Duis consectetur metus a felis lacinia, vitae imperdiet nisi aliquet.
            Curabitur quis tortor et tortor iaculis varius ut non quam. Cras sodales faucibus interdum. Fusce aliquet
            interdum auctor. Donec tellus urna, porttitor ut odio vel, scelerisque accumsan nunc. Phasellus volutpat,
            lacus nec viverra varius, velit justo euismod tellus, nec bibendum orci diam et lacus. Nunc id ultricies
            ipsum. Vestibulum vitae auctor est. Aenean egestas porta viverra.

            Integer ac urna varius, consequat nisl ac, tempus nisl. Nulla sodales, nunc eget scelerisque laoreet, erat
            leo molestie metus, condimentum pretium tortor lorem nec est. Ut mollis erat quis turpis tincidunt, eget
            efficitur orci ultricies. In tincidunt dignissim nibh, quis sollicitudin diam elementum et. Vivamus
            pharetra, tortor malesuada ornare aliquam, ipsum velit finibus purus, sed dignissim lorem lectus eget
            libero. Nullam rhoncus orci ac lacus bibendum gravida.

            Donec porttitor scelerisque sapien. Proin tincidunt nisl sit amet est fermentum accumsan. Quisque sit amet
            tempor diam, vel volutpat ipsum. Nunc vulputate mi quis leo bibendum vulputate. In hac habitasse platea
            dictumst. Suspendisse id fermentum odio. Praesent volutpat lacus id feugiat mollis. Sed tristique luctus
            neque, a semper eros finibus nec. Ut iaculis rhoncus tristique. Sed rhoncus nulla ante. In condimentum urna
            sed lacus laoreet, in ullamcorper enim varius. Fusce nec mauris velit. Donec vehicula lacus ut velit
            accumsan, non sodales justo condimentum. Vivamus vulputate augue id tempor consequat. Fusce sit amet turpis
            eget diam lobortis consequat sit amet sit amet purus.

        </p>
    </div>
</div>
<!-- ==== JAVASCRIPT FILES ==== -->
<!-- Jquery -->
<script src="js/jquery-2.2.4.min.js"></script>
<!-- Owl Carousel -->
<script src="js/owlcarousel/owl.carousel.min.js"></script>
<!-- Slick Slider -->
<script src="js/slick.min.js"></script>
<!-- YouTube Video -->
<script src="js/jquery.youtubebackground.js"></script>
<!-- Smooth scroll -->
<script src="js/smooth-scroll.js"></script>
<!-- Parallax -->
<script src="js/parallax.min.js"></script>
<!-- Maginific Popup Modal -->
<script src="js/jquery.magnific-popup.min.js"></script>
<!-- jQuery Filterizr -->
<script src="js/jquery.filterizr.js"></script>
<!-- Custom -->
<script src="js/custom.js"></script>
<!-- ==== END JAVASCRIPT FILES ==== -->
</body>

</html>