<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale = 1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="aYa Agency - One Page Creative Design Template">
    <meta name="keywords" content="aya agency, web design, creative design, html5, responsive">
    <meta name="author" content="Tsocho Tsochev, Iliyan Konakchiev | UnomiaThemes">
    <!-- -Page Title- -->
    <title>Baladiati - Baladia En ligne</title>
    <!-- ====== -Google Fonts- ====== -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
    <!-- ====== -End Google Fonts- ====== -->
    <!-- ====== -CSS- ====== -->
    <!-- -Normalize css- -->
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <!-- -Animate css- -->
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <!-- -Font Awesome- -->
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <!-- -Ionicons- -->
    <link rel="stylesheet" type="text/css" href="css/ionicons.min.css">
    <!-- -Bootstrap v3.3.1- -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- Slick -->
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- -Custom style CSS- -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- -Custom responsive style CSS- -->
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
    <!-- ====== -End CSS- ====== -->
    <!-- -Favicon- -->
    <link rel="shortcut icon" href="img/favicon.png">

</head>
<body style="background: #9d9d9d">
<div>
    <img class="center" src="img/election.jpg" style="margin-left: 25%; height: 250px; width: auto">
</div>
<br>
<br>
<div style="margin-left: 22%;">
    <p style="color: red; font-size: 20px">
        Apres validation vous ne pouvez pas changer votre choix</p>
</div>
<!-- ==== JAVASCRIPT FILES ==== -->
<!-- Jquery -->
<script src="js/jquery-2.2.4.min.js"></script>
<!-- Owl Carousel -->
<script src="js/owlcarousel/owl.carousel.min.js"></script>
<!-- Slick Slider -->
<script src="js/slick.min.js"></script>
<!-- YouTube Video -->
<script src="js/jquery.youtubebackground.js"></script>
<!-- Smooth scroll -->
<script src="js/smooth-scroll.js"></script>
<!-- Parallax -->
<script src="js/parallax.min.js"></script>
<!-- Maginific Popup Modal -->
<script src="js/jquery.magnific-popup.min.js"></script>
<!-- jQuery Filterizr -->
<script src="js/jquery.filterizr.js"></script>
<!-- Custom -->
<script src="js/custom.js"></script>
<!-- ==== END JAVASCRIPT FILES ==== -->
</body>

</html>